<div class="container">
  <div class="row">    
	{% for itemJob in jobs %}
		<div class="col-lg-12">
		  <div class="col-md-10 col-sm-10">
			<h3 class="title">{{ itemJob.title }}</h3>
			<div>
				<a href="#">@{{ itemJob.company }}</a> | <span>{{ itemJob.location }}</span>
			</div>
			<div>
				<span>{{ itemJob.created_at }}</span>
			</div>
		  </div>
		  <div class="col-md-2 col-sm-2">
			<button class="btn">{{ itemJob.type }}</button>
		  </div>
		  <div class="col-md-12 col-sm-12">	
			<a data-toggle="collapse" href="#{{ itemJob.id }}" aria-expanded="false" aria-controls="{{ itemJob.id }}">More info ></a>
			<!--
			<div id="{{ itemJob.id }}">
              {{ itemJob.description | raw }}
			</div>	
			-->			
		  </div>
		</div>
	{% endfor %}   
  </div>
</div>